body{
  overflow: auto;
}
/* Imma need to change the animation mechnanics, they make the phone crash its navigator */
/* Animations */
@keyframes slide-out {
  0% {
    transform: translateX(-10%);
  }
  100% {
    right: 1000px;
  }
}
@keyframes slide-in {
  0% {
    left: 1000px; /* Start off-screen */
  }
  100% {
    left: 0; /* Back to its original position */
  }
}
@keyframes slide-out-back {
  0% {
    color: gray;

    left: 0px;
  }
  100% {
    color: white;
    left: 1000px;
  }
}
@keyframes slide-in-back {
  0% {
    right: 1000px;
  }
  100% {
    right: 0px;
  }
}
/* End of Animations */
.body{
  overflow: auto;
}
.flip-card {
  position: relative;
  height: 600px;
  width:80%;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}
.flip-container {
  display: flex;
  justify-content: center;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.slide-out-back {
  animation-name: slide-out-back;
  animation-duration: 0.4s;
}
.slide-in-back {
  animation-name: slide-in-back;
  animation-duration: 0.4s;
}
.slide-out {
  animation-name: slide-out;
  animation-duration: 0.4s;
}
.slide-in {
  animation-name: slide-in;
  animation-duration: 0.4s;
}
.flip-card-front,
.flip-card-back {
  color:black;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  transform: rotateY(180deg);
}
.buttons {
  min-width: none;
  padding-top: 4em;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.buttons *{
  min-width: none;
  font-size: 2em;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .flip-card {
    position: relative;
    left:5%;
    height: 50em;
    width: 45em;
  }
  .flip-container{
    font-size: .5em;
    width: fit-content;
  }
  .buttons {
    min-width: fit-content;
    justify-content: center;
    gap: 0;
  }
  .buttons * {
    font-size: 1em;
    border-radius: 5px;
  }
  #button1{
    position: absolute;
    left: 0;
    bottom:5%
  }
  #button3{
    position: absolute;
    right: 0;
    bottom:5%
  }
}
