body{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white
}
.select-deck{
    display:flex ;
    gap:"30px";
    justify-content:"center"
}

textarea{
    height:30em;
    width: 80%;
    margin: auto;
    color: black;    
}